.d1{
    width: auto;
    height: 45px;
}

.d1 img.myImage {
    width: auto; height: 45px;
}

.d2{
    width: 45px;
    height: 10px;
    border: 1px groove;
    solid-color: #001fd4;
}


.round {
    width: 40px;
    height: 40px;
      border-radius: 40px;
      border: 1px solid #080080;
      box-shadow: 0 0 7px #666;
  }

round img {
    display: block;
    width: 40px;
    height: 40px;
}