.cap-wrapper {
	position: center;
	width: 100%;
	height: 55px;
}

.cap-container {
	background: rgba(16, 11, 18, 0.64);
	width: 100%;
	height: 55px;
	transition: all 300ms ease-out;
	border-radius: 20px;

}

footer {
	position: relative;
	min-height: 50px;
	background: #140e16 url(../img/footer.png) no-repeat bottom center;
	margin-top: 130px;
	box-shadow: inset 0 17px 16px -9px rgba(3, 0, 1, 0.7);
	color: #FFF;
}

footer .footer-inner {
	padding: 0 160px;
}

footer .footer-table {
	position: relative;
	padding: 60px 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}

footer .footer-cell {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

footer .footer-cell-center {
	text-align: center;
	color: rgba(131, 131, 134, 0);
	font-size: 14px;
	line-height: 24px;
	width: 40%;
}

footer .footer-logo {
	position: relative;
	display: block;
	width: 190px;
	height: 67px;
	background: url(img/logo-footer.png) no-repeat center center;
	background-size: contain;
}

@keyframes sonar {
	0% {
		opacity: 0.1;
	}

	40% {
		opacity: 0.3;
	}

	100% {
		-webkit-transform: scale(5);
		opacity: 0;
	}
}
footer .licence {
	font-size: 9px;
	color: rgba(95, 95, 98, 0);
}

footer .licence-line {
	margin: 2px 0;
}

footer .licence-line.line-header {
	font-weight: bold;
	color: rgba(156, 156, 158, 0);
}

footer .paypal {
	background: #04000c;
	box-shadow: 0 0 0 1px #353535;
	padding: 8px 48px 8px 39px;
	border-radius: 38px;
	font-size: 13px;
	top: -3px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	color: #FFF;
	text-decoration: none;
}

footer .paypal .icon {
	font-size: 20px;
	position: relative;
	top: 2px;
}

footer .paypal .label:before {
	content: '';
	width: 30px;
	height: 30px;
	left: 50%;
	top: 50%;
	bottom: 0;
	border-radius: 36px;
	margin: -15px 0 0 -15px;
	background: #ffffff;
	position: absolute;
	animation: sonar 1.4s infinite;
}

footer .paypal .label {
	position: relative;
	overflow: hidden;
}

@media all and (max-width: 1400px) {
	.overview-block {
		top: 0;
	}

	.dots {
		top: 0;
	}
}





