
a, a:visited, a:hover, a:active { text-decoration: none; color: inherit; }

div#simple-account-dropdown
{
	position: relative;
	font-size: 14px;
	color: #fff;
}
	div#simple-account-dropdown > .account
	{
		text-align: center;
		cursor: pointer;
		padding: 5px 5px;
		-webkit-transition: 0.1s ease-in;
		-moz-transition: 0.1s ease-in;
		-o-transition: 0.1s ease-in;
		transition: 0.1s ease-in;
	}

	div#simple-account-dropdown > .account:hover
	{
		background: rgba(64, 74, 82, 0);
	}

	div#simple-account-dropdown > .account:active, div#simple-account-dropdown > .account.active
	{
		background: #22272e;;
	}

	div#simple-account-dropdown > .account > span
	{
		margin: 0 10px;
	}

	div#simple-account-dropdown > .account > img
	{
		vertical-align: middle;
	}

	div#simple-account-dropdown > .dropdown
	{
		position: absolute;
		width: auto;
		left: 100%;
		margin-left: -76px;
		z-index: 99999;
	}

	div#simple-account-dropdown > .dropdown::before
	{
		content: '';
		display: block;
		position: absolute;
		border: 10px solid #22272e;
		border-left: 10px solid rgba(255, 255, 255, 0);
		border-right: 10px solid rgba(255, 255, 255, 0);
		border-top: 0px solid rgba(255, 255, 255, 0);
		left: 50%;
		margin-left: -10px;
		z-index: 99999;

	}

	div#simple-account-dropdown > .dropdown > ul
	{
		display: block;
		margin: 0; padding: 0;
		list-style: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		overflow: hidden;
		background: rgb(16, 16, 16);
		z-index: 99999;
	}

	div#simple-account-dropdown > .dropdown > ul > li a
	{
		display: block;
		padding: 2.5px 30px;
		font-size: 13px;
		border-top: 1px solid rgba(255, 255, 255, 0);
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		z-index: 99999;
	}

	div#simple-account-dropdown > .dropdown > ul > li a:hover
	{
		margin: 0;
		padding: 2.5px 30px;
		background: rgba(9, 40, 255, 0);
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		z-index: 99999;
	}

	div#simple-account-dropdown > .dropdown > ul > li a > img
	{
		vertical-align: middle;
		margin-right: 10px;
	}

	div#simple-account-dropdown > .dropdown > ul > li:first-child a
	{
		border-top: none;
	}

	div#simple-account-dropdown > .dropdown > ul > li:last-child a
	{
		border-bottom: none;
	}

ul#simple-account-dropdown-freebie {
	display: table;
	list-style: none;
	padding: 5px;
}

ul#simple-account-dropdown-freebie > li {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background: rgba(80, 93, 100, 0);
}

ul#simple-account-dropdown-freebie > li:last-child {
	margin-left: 0;
}

ul#simple-account-dropdown-freebie > li > span {
	margin-bottom: 10px;
}

