body{
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background: rgba(0,0,0,0.2) url(../img/bg.png) center center no-repeat;
    background-size: 100%;
    overflow-y: scroll;
}
    #main {
        background-color: rgba(0,0,0,0.2);
        padding: 20px;
        margin: auto;
        width: 95%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 4px solid rgba(0, 16, 78, 0.36);

    }
    #real-estates-detail #author img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 5px solid rgba(215, 220, 243, 0.65);
        margin-bottom: 10px;
    }
    #real-estates-detail .sosmed-author i.fa {
        width: 30px;
        height: 30px;
        border: 2px solid rgba(9, 2, 243, 0.96);
        color: rgba(215, 220, 243, 0.65);
        padding-top: 6px;
        margin-top: 10px;
    }
    .panel-default .panel-heading {
        background-color: rgba(215, 220, 243, 0.65);
    }
    #real-estates-detail .slides li img {
        height: 450px;
    }

.rounded-foto {
    height: auto;
    width: 250px;
    border-radius: 250px;
    border: 1px solid #7275ae;
    box-shadow: 0 0 7px #3f3f3f;
}

.rounded-foto-car {
    height: auto;
    width: 100px;
    border: 1px solid #7275ae;
    box-shadow: 0 0 7px #666;
}
