body {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 12, 99)
}

#teaser {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 60px 0;
    background-color: rgba(215, 220, 243, 0);
    background: rgba(215, 220, 243, 0);
    background: rgba(0,0,0,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@mainColor', endColorstr='@mainColor', GradientType=0);
}


/* Style the container with a rounded border, grey background and some padding and margin */
.review {

    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 20px;
    padding: 16px;
    margin: 16px 0;
}

.hidden{
    opacity: 0;
}

.visible{
    opacity: 1;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.review img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
.review span {
    font-size: 20px;
    margin-right: 15px;
}

.review p{
    font-family: 'Lato', "Segoe Print";
    color: rgb(0, 12, 99);
    text-align: justify;

}
.carlist {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 20px;
    padding: 16px;
    margin: 16px 0;
}

/* Clear floats after containers */
.carlist::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.carlist img {
    float: left;
    margin-right: 20px;
    border: 2px;
}

/* Increase the font-size of a span element */
.carlist span {
    font-size: 20px;
    margin-right: 15px;
}
/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
    .review,
    .carlist{
        text-align: center;
    }

    .review,
    .carlist img {
        margin: auto;
        float: none;
        display: block;

    }
}
