#shadow {
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}


@-webkit-keyframes mymove {
    50% {box-shadow: 10px 20px 30px blue;}
}

@keyframes mymove {
    50% {box-shadow: 10px 20px 30px blue;}
}