body {
  background-color: rgba(215, 220, 243, 0.65);
}

.container2 {
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 80px;
}

ul.submenu {
  background-color: rgba(215, 220, 243, 0.65);
  border-radius: 20px;
  display: inline-block;
  padding: 0px 0px;
  margin: 0;
  overflow: hidden;
}
ul.submenu li {
  display: inline-block;
}
ul.submenu li a i.fa {
  padding: 0px;
  display: inline-block;
  border: 1px solid transparent;
  color: #0022cc;
  height: 29px;
  width: 29px;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
ul.submenu li a i.fa::after {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: -500%;
  bottom: -500%;
  left: -500%;
  right: -500%;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 200px;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}
ul.submenu li a:hover i.fa::before {
  color: #fff;
}
ul.submenu li a:hover i.fa-facebook::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-twitter::after {
  height: 200%;
  width: 200%;
  background-color: #1dcaff;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-google-plus::after {
  height: 200%;
  width: 200%;
  background-color: #d34836;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover i.fa-instagram::after {
  height: 200%;
  width: 200%;
  background-color: #8a3ab9;
  border-radius: 0px;
  opacity: 1;
}

ul.submenu li a:hover i.fa-vk::after {
  height: 200%;
  width: 200%;
  background-color: #445ab9;
  border-radius: 0px;
  opacity: 1;
}

i.fa-youtube {
  font-size: 50px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #e62117;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}
