
body {
  font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,0.2);;
}

#teaser {
  width: 90%;
  height: 600px;
  margin: auto;
  padding: 60px 0;
  border-radius: 20px;
  background-color: rgba(215, 220, 243, 0);
  background: rgba(215, 220, 243, 0);
  background: rgba(0,0,0,0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@mainColor', endColorstr='@mainColor', GradientType=0);
}
#teaser .reservation-form-shadow {
  height: auto;
  background-color: rgba(193, 198, 255, 0.42);
  border-radius: 20px;
  box-shadow: 0 9px 0px 0px rgba(0, 0, 0, 0), 0 -9px 0px 0px rgba(0, 0, 0, 0.3), 7px 0 15px -4px rgba(0, 0, 0, 0.3), -7px 0 15px -4px rgba(0, 0, 0, 0.3);
}


#teaser2 {
  width: 90%;
  height: 600px;
  margin: auto;
  padding: 60px 0;
  background-color: rgba(215, 220, 243, 0);
  background: rgba(215, 220, 243, 0);
  background: rgba(0, 14, 146, 0.58);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@mainColor', endColorstr='@mainColor', GradientType=0);
}
#teaser2 .reservation-form-shadow {
  height: 500px;
  background-color: rgba(215, 220, 243, 0.65);
  box-shadow: 0 9px 0px 0px rgba(0, 0, 0, 0), 0 -9px 0px 0px rgba(0, 0, 0, 0.3), 7px 0 15px -4px rgba(0, 0, 0, 0.3), -7px 0 15px -4px rgba(0, 0, 0, 0.3);
}


#teaser form {
  padding: 34px;
}
#teaser form .alert {
  margin-top: -20px;
  padding: 10px 15px;
}
#teaser form ::-webkit-input-placeholder {
  color: #000d75 !important;
}
#teaser form :-moz-placeholder {
  color: #000d75 !important;
}
#teaser form ::-moz-placeholder {
  color: #000d75 !important;
}
#teaser form :-ms-input-placeholder {
  color: #000d75 !important;
}
#teaser form .styled-select-car {
  border: 2px solid rgba(52, 38, 187, 0.82);
  height: 55px;
  position: relative;
  margin-bottom: 23px;
}
#teaser form .styled-select-car:after {
  content: '';
  background: rgba(52, 38, 187, 0.37) url('../img/dropdown-icon.png') no-repeat 5px 23px;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 51px;
  position: absolute;
  border-radius: 2px;
  pointer-events: none;
}
#teaser form .styled-select-car select {
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  background-image: none;
  background: rgba(222, 209, 255, 0);
  -webkit-appearance: none;
  border-radius: 20px;
  padding: 9px 10px;
  height: 51px;
  outline: none;
}
#teaser form .location {
  margin-bottom: 27px;
}
#teaser form .datetime {
  margin-bottom: 11px;
  color: rgb(52, 38, 187);
}
#teaser form .form-control {
  height: 43px;
  border: 2px solid rgba(52, 38, 187, 0.82);
  box-shadow: none;
}
#teaser form .input-group {
  width: 50%;

}
#teaser form .input-group input {
  border-radius: 10px;
  color: rgba(0, 13, 117, 0.91);
  font-size: 16px;
  padding-left: 15px;
  box-shadow: none;
  background: none;
  -webkit-appearance: none;
}
#teaser form .input-group-addon {
  border-radius: 10px;
  border: none;
  background-color: rgba(231, 234, 239, 0.73);
  font-weight: bold;
  font-size: 16px;
  color: #716d6e;
  width: 110px;
  text-align: left;
}
#teaser form .input-group-addon .glyphicon {
  font-size: 17px;
  margin: 0 2px 0 -2px;
}
#teaser form .different-drop-off {
  color: #504c4d;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}
#teaser form .date {
  width: 140px;
}
#teaser form .time {
  width: 140px;
}
#teaser form .pixelfix {
  border-top: 1px solid rgba(255, 255, 255, 0);
}
#teaser form .styled-select-time {
  border: 2px solid rgba(52, 38, 187, 0);
  height: 55px;
  position: absolute;
}
#teaser form .styled-select-time:after {
  content: '';
  background: rgba(222, 209, 255, 0);
  right: 0px;
  top: 0px;
  width: 50px;
  height: 39px;
  position: absolute;
  pointer-events: none;
}
#teaser form .styled-select-time select {
  border: none;
  font-size: 16px;
  width: 100%;
  background-image: none;
  background: rgba(222, 209, 255, 0);
  -webkit-appearance: none;
  padding: 5px 5px;
  height: 39px;
  color: #000d75;
}
#teaser .title {
  color: #000d75;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}
#teaser .subtitle {
  font-size: 24px;
  color: #000c63;
  text-transform: none;
  display: block;
  font-weight: normal;
  margin-top: 10px;
}
#teaser .car-img {
  height: 375px;
  text-align: center;
  line-height: 400px;
}
#teaser .car-img img {
  display: inline-block;
}
#teaser .carousel-control {
  position: relative;
}
#teaser .carousel-control.left,
#teaser .carousel-control.right {
  background-image: re;
  margin: 0;
  width: 30px;
}
#teaser .carousel-control.left {
  left: 90%;
}
#teaser .carousel-control.right {
  left: 95%;
}
#teaser .carousel-control .glyphicon-chevron-left,
#teaser .carousel-control .glyphicon-chevron-right {
  margin: 0;
}
#teaser .carousel-control .glyphicon-chevron-right {
  right: auto;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-top: 37px solid #ffbf00;
  margin: 0 auto;
}
/* Services
--------------------------------------------*/
#services {
  margin-top: 65px;
}
#services .title {
  margin-bottom: 38px;
}
#services h2 {
  font-size: 46px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;
}
#services .underline {
  height: 4px;
  width: 135px;
  display: block;
  background-color: #ffbf00;
  margin: 0 auto;
}
#services .service-box {
  background-color: rgba(237, 237, 237, 0);
  padding: 30px;
  margin-bottom: 30px;
}
#services .service-box .service-icon {
  height: 43px;
  width: 43px;
  background-color: #ffbf00;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 40px;
  font-size: 41px;
  font-weight: 900;
  float: left;
  margin-right: 15px;
}
#services .service-box .service-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 900;
  padding-top: 5px;
}
#services .service-box .service-content {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.7;
}

/* Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  /* Header
	--------------------------------------------*/
  header.large .brand {
    width: 75%;
  }
  header .header-info .contact {
    font-size: 14px;
  }
  header .navbar-default {
    font-size: 14px;
  }
  header.large {
    height: 133px;
  }
  header.small {
    height: 91px;
  }
  header.small .brand {
    margin: 28px 0 0 0;
  }
  /* Teaser
	--------------------------------------------*/
  #teaser form .styled-select-car select {
    font-size: 21px;
  }
  #teaser form .input-group-addon {
    font-size: 14px;
    width: 110px;
  }
  #teaser form .input-group-addon .glyphicon {
    font-size: 12px;
  }
  #teaser form .input-group input {
    font-size: 14px;
    padding-left: 5px;
  }
  #teaser form .styled-select-time select {
    font-size: 14px;
    padding: 0 5px;
  }
  #teaser form .date {
    width: 105px;
  }
  #teaser form .time {
    width: 105px;
  }
  #teaser form .styled-select-time:after {
    background: rgba(255, 255, 255, 0)
  }
  #teaser form .submit {
    font-size: 19px;
  }
  #teaser .title {
    font-size: 30px;
  }
  #teaser .subtitle {
    font-size: 18px;
  }
  #teaser form {
    padding: 20px 30px;
  }
  #teaser .reservation-form-shadow {
    height: 465px;
  }
  /* Services
	--------------------------------------------*/
  #services h2 {
    font-size: 42px;
    margin: 0 0 20px 0;
  }
  #services .service-box .service-icon {
    height: 38px;
    width: 38px;
    line-height: 37px;
    font-size: 36px;
  }
  #services .service-box .service-title {
    font-size: 24px;
    padding-top: 6px;
  }
  #services .service-box .service-content {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  /* Newsletter
	--------------------------------------------*/
  #newsletter .title {
    font-size: 24px;
  }
  #newsletter .subtitle {
    font-size: 15px;
  }
  #newsletter .newsletter-form {
    height: 50px;
    padding: 7px;
  }
  #newsletter .newsletter-form button {
    font-size: 17px;
  }
  #newsletter .social-icons ul li a {
    height: 51px;
    width: 55px;
    line-height: 51px;
    font-size: 31px;
  }
  /* Vehicles
	--------------------------------------------*/
  #vehicles .title {
    font-size: 32px;
  }
  #vehicles .vehicle-nav li a {
    font-size: 16px;
    height: 55px;
    line-height: 55px;
  }
  #vehicles .vehicle-price {
    font-size: 20px;
  }
  #vehicles .vehicle-price {
    font-size: 20px;
  }
  #vehicles .vehicle-price .info {
    font-size: 16px;
  }
  #vehicles .table {
    font-size: 12px;
  }
  #vehicles .reserve-button {
    font-size: 22px;
  }
  #vehicles .reserve-button {
    font-size: 22px;
  }
  #reviews .review {
    font-size: 18px;
  }
  #reviews .author {
    font-size: 16px;
  }
  /* Locations
	--------------------------------------------*/
  #locations .location-select h2 {
    font-size: 28px;
    margin: 30px 0 0 21px;
  }
  #locations .map {
    height: 500px;
  }
  /* Information
	--------------------------------------------*/
  #information .title {
    font-size: 28px;
    margin: 0 0 20px 0;
  }
  #information .subtitle {
    font-size: 20px;
    margin: 0 0 30px 0;
  }
  #information p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
  #information .btn {
    font-size: 20px;
  }
  /* Partners
	--------------------------------------------*/
  #partners h2 {
    font-size: 42px;
    margin: 0 0 20px 0;
  }
  #partners p {
    font-size: 16px;
  }
  /* Contact
	--------------------------------------------*/
  #contact h2 {
    font-size: 32px;
  }
  #contact .contact-info {
    font-size: 16px;
  }
  #contact form .form-group {
    margin-bottom: 15px;
  }
  #contact form .text-field {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  #contact .contact-box {
    font-size: 13px;
  }
  #contact .contact-box img {
    width: 65px;
  }
  #contact .contact-box-name {
    font-size: 20px;
  }
  #contact form ::-webkit-input-placeholder {
    font-size: 16px !important;
  }
  #contact form :-moz-placeholder {
    font-size: 16px !important;
  }
  #contact form ::-moz-placeholder {
    font-size: 16px !important;
  }
  #contact form :-ms-input-placeholder {
    font-size: 16px !important;
  }
  #contact form .submit-message {
    font-size: 20px;
  }
  /* Footer
	--------------------------------------------*/
  footer .footer-nav li a {
    font-size: 16px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

  #teaser {
    height: 1100px;
  }
  #teaser .title {
    text-align: center;
  }
  #teaser .carousel {
    margin-bottom: 70px;
  }
  #teaser form .date {
    width: 65%;
  }
  #teaser form .time {
    width: 32%;
  }
  /* Newsletter
	--------------------------------------------*/
  #newsletter .title {
    text-align: center;
    margin-bottom: 25px;
  }
  #newsletter .newsletter-form {
    width: 100%;
  }
  #newsletter .social-icons {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  #newsletter .social-icons ul li {
    display: inline-block;
    float: none;
  }

  /* Information
	--------------------------------------------*/
  #information {
    text-align: center;
  }
  #information img {
    display: inline-block;
    margin-bottom: 25px;
  }
  #information .video {
    margin-bottom: 25px;
  }
  /* Partners
	--------------------------------------------*/
  #partners {
    padding-bottom: 50px;
  }
  #partners img {
    display: inline-block;
    margin-bottom: 40px;
  }
  /* Contact
	--------------------------------------------*/
  #contact .contact-info {
    margin-top: 40px;
  }
  /* CheckOut Modal
	--------------------------------------------*/
  #checkoutModal .modal-dialog {
    width: 100%;
    margin: 0;
  }
  #checkoutModal .form-group {
    float: none !important;
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #checkoutModal .modal-footer {
    text-align: center;
  }
}
/* Small devices (660px and down) */
@media (max-width: 660px) {
  /* CheckOut Modal
	--------------------------------------------*/
  #checkoutModal .vehicle-info {
    padding: 0 0 0 45px;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 0 45px 0 45px;
  }
  #checkoutModal .location-date-info {
    width: 100%;
    padding: 0 0 0 45px;
    float: none;
  }
}
/* Small devices (480px and down) */
@media (max-width: 480px) {
  #teaser form .submit {
    font-size: 18px;
  }
}
/* Change default Nav Breakpoint */
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
