.text-message-error {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 180, 172, 0.66);
    color: #860015;
}

.text-error-page {
    font-size: 18px;
    text-align: center;
    color: #860700;
}

.text-message {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(92, 255, 0, 0.47);
    color: #0b6e00;
    opacity: 1;
}

.text-info-car{
     overflow-x: hidden;
 }

.text-review {
    font-size: 12px;
    text-align: right;
    color: #374047;
    opacity: 1;
}

.text-price {
    font-size: 16px;
    text-align: left;
    color: #a1a836;
    opacity: 1;
}

.tag-pages {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    opacity: 1;
}

.tag-pages a {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #fff6f9;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}

.tag-pages a:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    color: #000d75;
    text-align: center;
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}

.tag-pages a:active {
    background: none;
    text-align: center;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0, 0, 0, .5) inset, 0 1px 2px #fff;
}


.text-message-register {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #080080;
    opacity: 1;
}

.error-number {
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
    font-style: unset;
    color: #800004;
    opacity: 1;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}

/* активируем слой затемнения */
.overlay:target {
    display: block;
}

/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: rgba(225, 230, 253, 0.69);
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

/* активируем модальный блок */
.overlay:target + .popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.popupimg {
    right: 0;
    left: 50%;
    font-size: 14px;
    margin: 0;
    min-width: 320px;
    max-width: 700px;
    border-radius: 20px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    border: 1px solid #383838;
    background: rgba(225, 230, 253, 0.69);

}

/* активируем модальный блок */
.overlay:target + .popupimg {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}


/* формируем кнопку закрытия */
.close {
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}



.delete-review {
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}

.delete-review:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.delete-review:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* изображения внутри окна */
.popup img {
    width: 500px;
    border-radius: 20px;
    height: auto;

}

.popupimg img {
    width: 600px;
    border-radius: 20px;
    height: auto;
}

/* миниатюры слева/справа */
.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}

.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}

.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

/* параграфы */
.popup p {
    margin: 0;
    padding: 5px 0
}