header .header-info .language-switch {
  background-color: #ffbf00;
  margin-left: 24px;
}
header .header-info .language-switch a {
  color: rgba(215, 220, 243, 0.65);
  font-weight: bold;
  display: block;
  padding: 11px 45px 8px 15px;
  background: transparent url('../img/dropdown-icon.png') no-repeat 154px 14px;
}
header .header-info .language-switch .dropdown-menu {
  box-shadow: none;
  border-radius: 0;
  min-width: 188px;
  padding: 0;
}
header .header-info .language-switch .dropdown-menu li a {
  color: #716d6e;
  padding: 5px 15px 5px 15px;
  background-image: none;
}
header .header-info .language-switch .dropdown-menu li a:hover {
  background-color: rgba(215, 220, 243, 0.65);
}
header .header-info .language-switch .dropdown-menu li img {
  margin-right: 10px;
}



