<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
		version="2.1">

	<tlib-version>1.0</tlib-version>
	<short-name>ctg</short-name>
	<uri>customtags</uri>
	<tag>
		<name>info-time</name>
		<tag-class>by.epam.rentcar.tag.InfoTimeTag</tag-class>
		<body-content>empty</body-content>
	</tag>

	<tag>
		<name>pagesReview</name>
		<tag-class>by.epam.rentcar.tag.PageReviewTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>pageNumber</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>maxPages</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>typeTag</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>idCar</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

	<tag>
	<name>pagesCar</name>
	<tag-class>by.epam.rentcar.tag.PageCarTag</tag-class>
	<body-content>empty</body-content>
	<attribute>
		<name>pageNumber</name>
		<required>true</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	<attribute>
		<name>maxPages</name>
		<required>true</required>
		<rtexprvalue>true</rtexprvalue>
	</attribute>
	</tag>
</taglib>